<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>登录</title>
<link type="text/css" rel="stylesheet" href="/Public/css/Common/index.css">
<link type="text/css" rel="stylesheet" href="/Public/css/Common/reset.css">

<script type="text/javascript" src="/Public/javascript/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/Public/javascript/common.js"></script>
<script type="text/javascript" src="/Public/javascript/Lucky.js"></script>
<script type="text/javascript" src="/Public/form/js/basic.js"></script>
<script type="text/javascript" src="/Public/javascript/foundation-datepicker.min.js"></script>
</head>

<body>

</body>

</html>