{__NOLAYOUT__}
<tr style="display:" detail="1" id="{$funcid}-detail">
  <td colspan="99" style="padding:0;">
  <!-- 明细表 -->
    <table border="0" cellspacing="0" cellpadding="0" class="pub-table-in ta-tr-hover" style=" width:100%;">
      <colgroup>
        <col style="width: 40px ;">
        <col style="width: 80px ;">
        <col style="width: 80px ;">
        <col style="width: 80px ;">
        <col style="width: 80px ;">
        <col style="width: 80px ;">
        <col style="width:auto" >
      </colgroup>
      <tbody>
        <tr>
          <th>序号</th>
          <th>status</th>
          <th>公司</th>
          <th>部门</th>
          <th>用户</th>
          <th>级别</th>
          <th/>
      </tr>
      <?php foreach($list as $detail_key=>$detail): $detail_mod = ($di % 2 );++$di;?>
      <tr <?php if(($detail_mod) == "1"): ?>class="even"<?php endif; if(($detail_mod) == "0"): ?>class="odd"<?php endif; ?>>
        <td class="align=c"><?php echo $di."."; ?></td>
        <td></td>
        <td><?php echo get_table_Company_byID("$detail[company_id]","name","") ; ?></td>
        <td><?php echo get_table_Department_byID("$detail[department_id]","name","") ; ?></td>
        <td><?php echo get_table_User_byID("$detail[user_id]","name","") ; ?></td>
        <td><?php echo get_table_CompanyUser_level("$detail[level]","name","0") ; ?></td>
        <td/>
     </tr>
     <?php endforeach; ?>
     </tbody>
     </table>

     </td>
  </tr>


