<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>学业水平测试题库系统</title>
<link rel="shortcut icon" href="/Public/css/images//favicon.ico" type="image/x-icon" /> 
<link type="text/css" rel="stylesheet" href="/Public/css/Common/index.css?t=<?php echo time(); ?>">
    <link type="text/css" rel="stylesheet" href="/Public/css/Common/exam.css?t=<?php echo time(); ?>">
<link type="text/css" rel="stylesheet" href="/Public/css/Common/reset.css">
<link type="text/css" rel="stylesheet" href="/Public/css/Common/foundation-datepicker.min.css">
<script type="text/javascript" src="/Public/javascript/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/Public/javascript/common.js?t=<?php echo time(); ?>"></script>
<script type="text/javascript" src="/Public/javascript/Lucky.js"></script>
<script type="text/javascript" src="/Public/form/js/basic.js"></script>
<script type="text/javascript" src="__PUBLIC__/javascript/area.js"></script>
<!--<script type="text/javascript" src="/Public/javascript/foundation-datepicker.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="/Public/javascript/flatpickr/flatpickr.min.css">-->
<!--<script src="/Public/javascript/flatpickr/flatpickr.min.js"></script>-->
    <!--<script src="/Public/javascript/flatpickr/flatpickr.l10n.zh.js"></script>-->
    <script type="text/javascript" src="/Public/javascript/pickmeup/pickmeup.js"></script>
    <script type="text/javascript" src="/Public/javascript/pickmeup/pickmeup.zh.js"></script>
    <link rel="stylesheet" type="text/css" href="/Public/javascript/pickmeup/pickmeup.css">


    <!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>


<![endif]-->
</head>
