{__NOLAYOUT__}

<div toplayer="1" class="wrap-box wrap-pb2 " id="<?php echo $funcid;?>" summaryid="Exam" baseurl="<?php echo U('Exam/index'); ?>">

   <div class="wrap-box-info ">
      <div class="wrap-title abe-ofl">
         <div class="tit abe-fl">试卷</div>
         <div class="abe-fr">


               <a href="javascript:void(0);"  class=" vi-blue " onclick="return _asr.openLink('','<?php echo "$funcid"; ?>','刷新',1); "><i class="iconfont ">&#xe611;</i> 刷新</a>

         </div>
      </div>


      <div class="table-box">
         <div class="table-in">
            <div class="pub-par-title ppt-ico-box">
               <span class="abe-fl vi-blue abe-ft14">基本信息</span>
               <div class="faq-ico-box abe-fl">
                  <!-- icon 图标样例 -->
                    <?php if($search[status]=='0'): ?><div class="faq-ico"><img src="/Public/images/Home/faq-caogao.png" alt=""></div><?php endif; ?>
                    <?php if($search[status]=='1'): ?><div class="faq-ico"><img src="/Public/images/Home/faq-queren.png" alt=""></div><?php endif; ?>
                    <?php if($search[status]=='7'): ?><div class="faq-ico"><img src="/Public/images/Home/faq-zuofei.png" alt=""></div><?php endif; ?>
<!--
                  <?php if($search["is_manual"]==1): ?><div class="faq-ico"><img src="/Public/images/Home/faq-shou.png" alt=""></div><?php endif; ?>
                  <?php if($search["is_split"]==1): ?><div class="faq-ico"><img src="/Public/images/Home/faq-chai.png" alt=""></div><?php endif; ?>
                  <?php if($search["is_copy"]==1): ?><div class="faq-ico"><img src="/Public/images/Home/faq-copy.png" alt=""></div><?php endif; ?>
                  <?php if($search["status"]==0): ?><div class="faq-ico"><img src="/Public/images/Home/faq-gua.png" alt=""></div><?php endif; ?>
                  <?php if($search["lock_status"]==1): ?><div class="faq-ico"><img src="/Public/images/Home/faq-suo.png" alt=""></div><?php endif; ?>
                  <?php if($search["confirm_order"]==1 && $search["confirm_status"]==1): ?><div class="faq-ico"><img src="/Public/images/Home/faq-shen.png" alt=""></div><?php endif; ?>
                  <?php if($search["confirm_order"]==1 && $search["confirm_status"]==0): ?><div class="faq-ico"><img src="/Public/images/Home/faq-wen.png" alt=""></div><?php endif; ?>
                  <?php if($search["cancel_status"]==1): ?><div class="faq-ico"><img src="/Public/images/Home/faq-zuofei.png" alt=""></div><?php endif; ?>
                  <?php if($search["assign_result"]==2 || $search["assign_result"]==3): ?><div class="faq-ico"><img src="/Public/images/Home/faq-que.png" alt=""></div><?php endif; ?>
                  <?php if($search["payment_status"]==0): ?><div class="faq-ico faq-ico-wfk"><img src="/Public/images/Home/wfk.png" alt=""></div><?php endif; ?> -->
               </div>
               <div class="abe-fr">


          <?php if (isset($rights['edit_base']) && $rights['edit_base']): ?>
          <?php if ($search['status']==0): ?>
               <a href="javascript:void(0);"  class=" vi-blue vi-blue mlg_10 " onclick="return _asr.popupFun('<?php echo U("/Home/Exam/index?func=edit_base&id=$search[id]") ; ?>', '<?php echo filterFuncId("/Home/Exam/index?func=edit_base&id=$search[id]","");?>'); "> 编辑</a>
          <?php endif; ?>
          <?php endif; ?>

               </div>
            </div>

     <table border="0" cellspacing="0" cellpadding="0" class="pub-table-par">
        <colgroup>
           <col style="width:8%;"/>
           <col style="width:17%;"/>
           <col style="width:8%;"/>
           <col style="width:17%;"/>
           <col style="width:8%;"/>
           <col style="width:17%;"/>
           <col style="width:8%;"/>
           <col style="width:16%;"/>
        </colgroup>
        <tbody>

           <tr class= "even">
             <th>试卷编码</th>
             <td><a href="javascript:void(0);" class="vi-blue"  onclick="return _asr.openLink('<?php echo U("/Home/Exam/index?func=view&id=$search[id]"); ?>','<?php echo filterFuncId( U("/Home/Exam/index?func=view&id=$search[id]") ,"");?>', '试卷详情' ,0); " ><?php echo $search["exam_no"]; ?></a></td>
               <th>试卷总分</th>
               <td><?php echo system_format("N3", $search["score"],1); ?></td>
             <th>模板编码</th>
             <td><a href="javascript:void(0);" class="vi-blue"  onclick="return _asr.openLink('<?php echo U("/Home/Templet/index?func=view&no=$search[templet_no]"); ?>','<?php echo filterFuncId( U("/Home/Templet/index?func=view&no=$search[templet_no]") ,"");?>', '组卷模板详情' ,0); " ><?php echo $search["templet_no"]; ?></a></td>
               <th>创建时间</th>
               <td><?php echo system_format("DT", $search["create_time"],1); ?><em class="abe-space-sm"></em><?php echo $search["create_user"]; ?></td>
           </tr>
           <tr class= "odd">
             <th>试卷名称</th>
             <td><?php echo $search["subject"]; ?></td>
               <th>试卷题量</th>
               <td><?php echo system_format("N3", $search["count"],1); ?></td>
             <th></th>
             <td ></td>
               <th>修改时间</th>
               <td><?php echo system_format("DT", $search["modify_time"],1); ?><em class="abe-space-sm"></em><?php echo $search["modify_user"]; ?></td>
           </tr>
           <tr class= "even">
               <th>试卷类型</th>
               <td><?php echo get_table_Exam_type("$search[type]","name","") ; ?></td>
               <th>时间要求</th>
               <td><?php echo system_format("N3", $search["req_time"],1); ?></td>

             <th>备注信息</th>
             <td title="<?php echo $search["remarks"]; ?>"><?php echo OverView($search["remarks"],150,"..."); ?></td>
             <th>状态</th>
             <td><?php echo get_table_Exam_status("$search[status]","name","") ; ?></td>
           </tr>

        </tbody>
     </table>
         </div>
      </div>





       <div class="table-box">
         <div class="table-in">
            <form action="<?php echo U('Exam/index?func=view'); ?>" id="<?php echo "$funcid"; ?>-Search" method="get">
                <input type="hidden" name="<?php echo "$funcid"; ?>-last-url" id="<?php echo "$funcid"; ?>-last-url" value="<?php echo $__last_url; ?>" />
                <input type="hidden" name="funcid" value="<?php echo "$funcid"; ?>" />
                <input type="hidden" name="pfuncid" value="<?php echo "$pfuncid"; ?>" />
                <input type="hidden" name="id" value="<?php echo $search["id"]; ?>" />
                <input type="hidden" name="_lastchanged" value="<?php echo $search["lastchanged"]; ?>" />


                <input type="hidden" name="_tab" value="<?php echo $search["_tab"]; ?>" />

                <input type="hidden" name="_tab_shijuanmingxi_p" value="<?php echo $search["_tab_shijuanmingxi_p"]; ?>" />
                <input type="hidden" name="_tab_shijuanmingxi_psize" value="<?php echo $search["_tab_shijuanmingxi_psize"]; ?>" />
                <input type="hidden" name="_tab_caozuorizhi_p" value="<?php echo $search["_tab_caozuorizhi_p"]; ?>" />
                <input type="hidden" name="_tab_caozuorizhi_psize" value="<?php echo $search["_tab_caozuorizhi_psize"]; ?>" />

                  <!--表单-->
                  <div class="order-det-ptab">
                    <div class="od-info abe-fl" >
                      <a href="#" onclick="return _asr.tabsheet('<?php echo $funcid;?>', '<?php echo "$funcid"; ?>-Search', 'showview2');" <?php if($search['_tab'] == 'showview2'): ?> class="current"<?php endif;?>>试卷预览</a>
                      <a href="#" onclick="return _asr.tabsheet('<?php echo $funcid;?>', '<?php echo "$funcid"; ?>-Search', 'showanswer');" <?php if($search['_tab'] == 'showanswer'): ?> class="current"<?php endif;?>>答案纸预览</a>
                      <a href="#" onclick="return _asr.tabsheet('<?php echo $funcid;?>', '<?php echo "$funcid"; ?>-Search', 'showanalysis');" <?php if($search['_tab'] == 'showanalysis'): ?> class="current"<?php endif;?>>试卷分析预览</a>
                      <a href="#" onclick="return _asr.tabsheet('<?php echo $funcid;?>', '<?php echo "$funcid"; ?>-Search', 'shijuanmingxi');" <?php if($search['_tab'] == 'shijuanmingxi'): ?> class="current"<?php endif;?>>试卷试题明细</a>
                      <a href="#" onclick="return _asr.tabsheet('<?php echo $funcid;?>', '<?php echo "$funcid"; ?>-Search', 'caozuorizhi');" <?php if($search['_tab'] == 'caozuorizhi'): ?> class="current"<?php endif;?>>操作日志</a>
                    </div>

              <div class="abe-fl screening pbtab-search pbtab-col2">
<!-- 搜索关闭状态，按需要打开
                 <ul class="form form-mod-new">

                 </ul>

搜索关闭状态，按需要打开 -->

              </div>

              <div class="abe-fr">
              </div>
            </div>
          </form>
        </div>
      </div>



              <?php if ($search['_tab']=='shijuanmingxi'): ?>
                <div class="table-box">
                  <div class="table-in">
                    <form id="<?php echo "$funcid"; ?>-Result"  action="<?php U('Exam/op'); ?>" method="post">
                      <input type="hidden" name="<?php echo "$funcid"; ?>-last-url" id="<?php echo "$funcid"; ?>-last-url" value="<?php echo $__last_url; ?>" />
                      <input type="hidden" name="funcid" value="<?php echo "$funcid"; ?>" />
                      <input type="hidden" name="pfuncid" value="<?php echo "$pfuncid"; ?>" />
                      <input type="hidden" name="id" value="<?php echo $search["id"]; ?>" />
                      <input type="hidden" name="_lastchanged" value="<?php echo $search["lastchanged"]; ?>" />
                      <table border="0" cellspacing="0" cellpadding="0" class="pub-table-par pub-table-par-tdc pub-t-faq">
                        <colgroup>
                          <col style="width: 40px ; display: none; " >
                          <col style="width: 60px ;">
                          <col style="width: 100px ; display: none; ">
                          <col style="width: 80px ;">
                          <col style="width: 80px ;">
                          <col style="width: 100px ;">
                          <col style="width: 100px ;">
                          <col style="width: 80px ;">
                          <col style="width: 100px ;">
                          <col style="width: 100px ;">
                          <col style="width: 100px ;">
                          <col style="width: 100px ;">
                          <col style="width: 80px ;">
                          <col style="width: auto" >
                        </colgroup>
                        <tbody>
                          <tr>
                            <th style="display: none;" ><input type="checkbox"  onclick="_asr.selectAll(this);"> &nbsp;#</th>
                            <th>题号</th>
                            <th style="display: none;" class="abe-txtl">标题</th>
                            <th>分数</th>
                            <th>试题类型</th>

                            <th class="abe-txtl">试题知识点</th>
                            <th class="abe-txtl">试题题型</th>
                            <th class="abe-txtl">试题题干</th>
                            <th class="abe-txtl">试题设问</th>
                            <th class="abe-txtl">试题答案</th>
                            <th class="abe-txtl">试题图像</th>
                            <th>抽取次数</th>
                           <th></th >
                          </tr>
                          <?php if(is_array($list)):
                            $i = 0;
                            $__LIST__ = $list;
                            if( count($__LIST__) == 0) :
                                echo "";
                            else:
                                foreach($__LIST__ as $key=>$master): $mod = ($i % 2 );++$i; ?>
                                  <tr <?php if($mod == "1"): ?>class="even"<?php endif; if($mod == "0"): ?>class="odd"<?php endif; ?>>
                                    <!-- 选择 -->
                                    <td style="display: none;"><input type="checkbox" name="Key[]" data-type="select" onclick="_asr.selectMulit(this);" value="<?php echo $master['id'] ;?>">&nbsp; <?php echo $i + ($page_size * ($p - 1)); ?></td>
                                    <td>
                            <div class="faq-icon">
          <?php if ( $master[question_type]!='2' &&  isset($rights['master_view']) && $rights['master_view']): ?>

          <?php endif; ?>
                            <?php echo system_format("N3", $master["seq"],1) ; ?></div></td>
                                    <td style="display: none;" class=" abe-txtl "><div class="newline"><?php echo OverView($master["subject"],150,"...") ; ?></div></td>
                                    <td><?php echo system_format("N3", $master["score"],1) ; ?></td>
                                    <td><?php echo get_table_ExamDetail_question_type("$master[question_type]","name","") ; ?></td>

                                    <td  class=" abe-txtl "><?php echo $master["question_category_name"] ; ?></td>
                                    <td  class=" abe-txtl "><?php echo subcode_view('question:kind',$master['question_kind']) ; ?></td>
                                    <td  class=" abe-txtl "><div class="newline newline-l"><?php echo $master["question_stem"].($master["question_description"]?"<br>":"").$master["question_description"] ; ?></div></td>
                                    <td  class=" abe-txtl "><div class="newline newline-l"><?php echo str_replace("|","<br>",$master["question_quiz"]) ; ?></div></td>
                                    <td  class=" abe-txtl "><div class="newline"><?php echo $master["question_answer"]  ; ?></div></td>
                                    <td  class=" abe-txtl "><?php if($master["question_img"]): ?><a href="<?php echo $master["question_img"] ;?>" target="_blank" class="vi-blue"   >图像</a><?php endif; ?></td>
                                    <td><?php echo system_format("N3", $master["extract_count"],1) ; ?></td>
                                 <td></td>
                                  </tr>
                                  <?php endforeach; ?>
                                <?php
                            endif;
                        else:
                            echo ""
                        ;endif; ?>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              <?php endif; ?>

              <?php if ($search['_tab']=='caozuorizhi'): ?>
                <div class="table-box">
                  <div class="table-in">
                    <form id="<?php echo "$funcid"; ?>-Result"  action="<?php U('Exam/op'); ?>" method="post">
                      <input type="hidden" name="<?php echo "$funcid"; ?>-last-url" id="<?php echo "$funcid"; ?>-last-url" value="<?php echo $__last_url; ?>" />
                      <input type="hidden" name="funcid" value="<?php echo "$funcid"; ?>" />
                      <input type="hidden" name="pfuncid" value="<?php echo "$pfuncid"; ?>" />
                      <input type="hidden" name="id" value="<?php echo $search["id"]; ?>" />
                      <input type="hidden" name="_lastchanged" value="<?php echo $search["lastchanged"]; ?>" />
                      <table border="0" cellspacing="0" cellpadding="0" class="pub-table-par pub-table-par-tdc pub-t-faq">
                        <colgroup>
                          <col style="width: 40px ;">
                          <col style="width: 80px ;">
                          <col style="width: 150px ;">
                          <col style="width: 80px ;">
                          <col style="width: 100px ;">
                          <col style="width: 80px ;">
                          <col style="width: 80px ;">
                          <col style="width: 80px ;">
                          <col style="width: 100px ;">
                          <col style="width: auto" >
                        </colgroup>
                        <tbody>
                          <tr>
                            <th>序号</th>
                            <th>状态</th>
                            <th>处理时间</th>
                            <th class="abe-txtl">单据号码</th>
                            <th class="abe-txtl">标题</th>
                            <th>明细条数</th>
                            <th class="abe-txtr">数量(件)</th>
                            <th class="abe-txtr">金额(元)</th>
                            <th class="abe-txtl">内容</th>
                           <th></th >
                          </tr>
                          <?php if(is_array($list)):
                            $i = 0;
                            $__LIST__ = $list;
                            if( count($__LIST__) == 0) :
                                echo "";
                            else:
                                foreach($__LIST__ as $key=>$master): $mod = ($i % 2 );++$i; ?>
                                  <tr <?php if($mod == "1"): ?>class="even"<?php endif; if($mod == "0"): ?>class="odd"<?php endif; ?>>
                                    <td><?php echo $i + ($page_size * ($p - 1)); ?></td>
                                    <td><?php echo get_table_Exam_status("$master[status]","name","") ; ?></td>
                                    <td><?php echo system_format("DT", $master["create_time"],1) ; ?></td>
                                    <td  class=" abe-txtl "><a href="javascript:void(0);" class="vi-blue"  onclick="return _asr.openLink('<?php echo orderurl("$master[type]"); ?>','<?php echo filterFuncId( orderurl("$master[type]") ,"");?>', '查看详情' ,0); " ><?php echo $master["order_no"] ; ?></a></td>
                                    <td  class=" abe-txtl "><?php echo $master["subject"] ; ?></td>
                                    <td><?php echo system_format("N3", $master["details"],1) ; ?></td>
                                    <td  class=" abe-txtr "><?php echo system_format("N3", $master["qty"],1) ; ?></td>
                                    <td  class=" abe-txtr "><?php echo system_format("F32", $master["amount"],1) ; ?></td>
                                    <td  class=" abe-txtl "><div><?php echo OverView($master["content"],150,"...") ; ?></div></td>
                                 <td></td>
                                  </tr>
                                  <?php endforeach; ?>
                                <?php
                            endif;
                        else:
                            echo ""
                        ;endif; ?>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              <?php endif; ?>
       <?php if ($search['_tab']=='showview2'): ?>
       <include file="Exam:view2" />
       <?php endif; ?>
       <?php if ($search['_tab']=='showanswer'): ?>
       <include file="Exam:tab_answer" />
       <?php endif; ?>
       <?php if ($search['_tab']=='showanalysis'): ?>
       <include file="Exam:tab_analysis" />
       <?php endif; ?>



      <div class="blank5"></div>
   </div>

   <div class="data-oper" >
        <?php echo $page; ?>
      <div class="data-oper-in " >

          <?php if (isset($rights['order_edit']) && $rights['order_edit']): ?>
          <?php if ($search['status']==0 && false): ?>
               <input type="button" value="试卷编辑" class="btn btn-blue mlg_10 " default-status="1" onclick="return _asr.popupFun('<?php echo U("/Home/Exam/index?func=edit_base&id=$search[id]") ; ?>', '<?php echo filterFuncId("/Home/Exam/index?func=edit_base&id=$search[id]","");?>'); " />
          <?php endif; ?>
          <?php endif; ?>


          <?php if (isset($rights['grid']) && $rights['grid']): ?>
          <?php if ($search['status']=='0' && false): ?>
               <input type="button" value="试题编辑" class="btn btn-blue mlg_10 " default-status="1" onclick="return _asr.popupFun('<?php echo U("/Home/Exam/index?func=grid&id=$search[id]") ; ?>', '<?php echo filterFuncId("/Home/Exam/index?func=grid&id=$search[id]","");?>'); " />
          <?php endif; ?>
          <?php endif; ?>



          <?php if (isset($rights['confirm']) && $rights['confirm']): ?>
          <?php if ($search['status']=='0'): ?>
               <input type="button" value="试卷确认" class="btn btn-blue mlg_10 " default-status="1" onclick="return _asr.popupFun('<?php echo U("/Home/Exam/index?func=confirm&id=$search[id]") ; ?>', '<?php echo filterFuncId("/Home/Exam/index?func=confirm&id=$search[id]","");?>'); " />
          <?php endif; ?>
          <?php endif; ?>

          <!--点击显示答案以及解析-->
          <input type="button" value="显示答案纸" class="btn btn-blue mlg_10 " id="{$funcid}showanswer" default-status="1" onclick="return {$funcid}_showanswer();"  />
          <input type="button" value="显示答案+解析" class="btn btn-blue mlg_10 " id="{$funcid}showanalysis" default-status="1" onclick="return {$funcid}_showanalysis();" />

          <?php if (isset($rights['todummy']) && $rights['todummy']): ?>
          <?php if ($search['status']=='1'): ?>
               <input type="button" value="确认转草稿" class="btn btn-org mlg_10 " default-status="1" onclick="return _asr.popupFun('<?php echo U("/Home/Exam/index?func=todummy&id=$search[id]") ; ?>', '<?php echo filterFuncId("/Home/Exam/index?func=todummy&id=$search[id]","");?>'); " />
          <?php endif; ?>
          <?php endif; ?>

          <?php if ($search['status']=='0'): ?>
          <!--<form id="{$search['id']}-box-form" method="post" action="{:U('/Home/Exam/index?func=createPDF')}">-->
          <!--</form>-->
          <!--<input type="button" value="PDF下载" class="btn btn-blue mlg_10 " default-status="1" onclick="return _asr.submit('','{$search[\'id\']}-box-form','',1);">-->
          <!--<a href="javascript:void(0);" class="btn btn-blue mlg_10"  onclick="return _asr.openLink('<?php echo U("/Home/Exam/index?func=createPDF&id=$search[id]"); ?>','<?php echo filterFuncId( U("/Home/Exam/index?func=createPDF&id=$search[id]") ,"");?>', 'PDF下载' ,1); " >PDF下载</a>-->
          <input type="button" value="PDF下载" class="btn btn-blue mrg_10" default-status="1" onclick="return _asr.submit('<?php echo $funcid;?>', '<?php echo "$funcid"; ?>-Search', '{:U("/Home/Exam/index?func=createPDF&id=$search[id]")}',1,'','请确认是否开始PDF导出?');" />
          <?php endif; ?>



          <div class="abe-fr">




          <?php if (isset($rights['order_delete']) && $rights['order_delete']): ?>
          <?php if ($search['status']==0): ?>
               <input type="button" value="删除试卷" class="btn btn-org mrg_10 " default-status="1" onclick="return _asr.confirm('确认操作', '请确认是否进行 删除试卷 操作?', '', '<?php echo U("/Home/Exam/index?func=delete&id=$search[id]") ; ?>','','<?php echo "$funcid"; ?>-Result'); " />
          <?php endif; ?>
          <?php endif; ?>


              <?php if (isset($rights['cancel']) && $rights['cancel']): ?>
          <?php if ($search['status']=='1'): ?>
               <input type="button" value="取消试卷" class="btn btn-org mlg_10 " default-status="1" onclick="return _asr.popupFun('<?php echo U("/Home/Exam/index?func=cancel&id=$search[id]") ; ?>', '<?php echo filterFuncId("/Home/Exam/index?func=cancel&id=$search[id]","");?>'); " />
          <?php endif; ?>
          <?php endif; ?>

          </div>
      </div>
   </div>

   <div class="blank30"></div>
</div>
    <script>
        function <?php echo $funcid; ?>_chooseDate(o) {
            if($('.date').length>0)
                pickmeup('.date').destroy();
            $('.date').removeClass('date')
            $(o).addClass('date');
            pickmeup('.date', {
                format  : 'Y-m-d',
                date : $(o).val(),
                hide_on_select : true,
                locale : 'zh'
            }).show();
        }

        function get_html(){

            var id = "{$search['id']}";

            $.ajax({
                type:"post",
                url:"__APP__/Home/Exam/createPDF",
                data:"data="+id,
                dataType:"json",
                success:function(data)
                {
                    if(data.msg == '200'){
                        alert('PDF生成已完成');


                    }
                }

            })
        }


        $('.calendar0,.calendar1').on('click',function(){
            <?php echo $funcid; ?>_chooseDate(this)
        });

        /***************************************************************************************/
        /* 前台页面初始化                                                                      */
        /***************************************************************************************/
        function <?php echo $funcid; ?>_init(_id){
            return ;
        }


    {:W('Summary/javascript',array('Exam'))}

    function {$funcid}_showanswer() {
            console.log("showanswer");
            $("#{$funcid} .analysis").hide();
            $("#{$funcid} .answer").show();
            return false;
    }

        function {$funcid}_showanalysis() {
            console.log("showanalysis");
            $("#{$funcid} .answer").show();
            $("#{$funcid} .analysis").show();
            return false;
        }
    </script>


