
<?php if(strstr($row["question_quiz"],'/Uploads/img/')==null){ ?>

<ul class="options">
    <!--新加入判读，解决没有题目的时候显示A   19-8-13 -->
    <?php if(count($row['question_quiz_item'])<=1){ ?>
    <?php }else{ ?>
    <?php  foreach($row['question_quiz_item'] as $subKey=>$subItem) { ?>
    <li><em><?php echo chr(65 + $subKey); ?>.</em>{$subItem}</li>
    <?php } ?>
    <?php } ?>
</ul>

<?php }else{ ?>

<!--选择题中选项全部都是图片的情况-->
<ul class="options sq50-img">
    <?php foreach($row['question_quiz_item'] as $subKey=>$subItem) { ?>
    <li><em><?php echo chr(65 + $subKey); ?>.</em><img src={$subItem} alt/></li>
    <?php } ?>
</ul>

<?php } ?>


